APP_DEBUG = trueadmins = admin[APP]DEFAULT_TIMEZONE = Asia/Shanghai[DATABASE]TYPE = mysqlHOSTNAME = 127.0.0.1DATABASE = QingScanUSERNAME = rootPASSWORD = rootHOSTPORT = 3306CHARSET = utf8DEBUG = true[LANG]default_lang = zh-cn