.AutoNewline
{
    Word-break: break-all;/*必须*/
}
header a:hover {
    text-decoration: none;
}

.qiantuchu {
    background-color: #eee;
    padding: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 5px;
    margin-right: 5px;
}

.tuchu_margin {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 5px;
    margin-right: 5px;
}

.tuchu {
    background-color: #ffffff;
    padding: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 5px;
    margin-right: 5px;
}

.tuchu_col {
    background-color: #ffffff;
    padding: 10px;
    margin: 10px;
    margin-left: 0px;
}
.fenye {
    background-color: #ffffff;
    padding: 20px;
    margin-top: 10px;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 80px;
}


.ellipsis-type {
    max-width: 360px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    cursor: pointer;
}
footer {
    /*position: absolute;*/
    bottom: 0; /* 4. 设置页脚position为absolute之后，再将其bottom值设为0，即可使其处于页面的底部 */
    width: 100%;
    background-color: #457B9D;
}
.footer {
    background-color: #ffffff;
    padding: 10px;
    max-height: 60px;
    padding-top: 20px;
    padding-bottom: 20px;
}